

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
/* font-family: 'Montserrat', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

/*-----COMMON-----*/


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}



.content-wrapper{
  margin: 0 auto;
  width: 320px; /*up to 768 px*/
  text-align: center;
}

a {
  text-decoration: none;
  display: inline-block;
}




/*-----HEADER-----*/
.header {
  margin: 0 auto;
  background-color: #1a1915;
  background-image: url(../img/banner_01.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;

  min-height: 540px; /*up to 768 px*/

}

.header-first-line{
  margin: 0 auto;
  display: flex;

  flex-direction: column-reverse; /*up to 768 px*/
  align-items: center; /*up to 768 px*/
  padding-top: 18px;
  margin-bottom: 32px;
}

.logo-link{
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}

.sign-in-container{
  display: flex;
  justify-content: center;
  margin-bottom: 117px;
}

.enter-link {

  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  padding: 10px 15px;

  border: 2px solid transparent;
  border-radius: 18px;

  
}

.enter-link:hover {
  border: 2px solid #fff;
}


/*-----MAIN-----*/
.main-title {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: #fff;
  line-height: 1.2;
  margin-bottom: 12px;
}

.main-subtitle{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.2;
  color: #fff;
  margin-bottom: 17px;
}

.find-link{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  letter-spacing: -0.02em;
  padding: 13px 46px;
  background-color: #ff4e50;
  border-radius: 20px;
}


/*-----SECTION PARTNERS-----*/
.partners{
  padding-top: 68px;
}

.partners-title{
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: #333333;
  margin-bottom: 20px;
}


.partners-list {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.partners-list-item {
  text-align: center;
  width: 220px;
  margin-bottom: 25px;
  box-sizing: border-box;
}

.photo-container {
  display: inline-block;
  position: relative;
  margin-bottom: 17px;
}

.photo-container img{
  display: block;
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.status{
  position: absolute;
  right: 0px;
  bottom: 0px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 32px;
  height: 32px;
  border-radius: 19px;
  border: 3px solid #fff;

}

.lock{
    background-image: url(../img/TV.svg);  
    background-color: #ff4e50;
}

.bottle{
  background-image: url(../img/bottle.svg);  
  background-color: #ffa507;
}

.coffee{
  background-image: url(../img/coffee.svg);  
  background-color: #1cd7ad;
}

.paperplane{
  background-image: url(../img/paper-plane.svg);  
  background-color: #4e73db;
}

.partner-name{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #333333;
  margin-bottom: 14px;
}

.partner-description{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.2;
  color: #666666;
}

.partners-other{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #ff4e50;
  letter-spacing: -0.02em;
  padding: 12px 70px;
  border: 2px solid #ff4e50;
  border-radius: 30px;
  margin-bottom: 60px;
}


/*-----TABLET-----*/

@media screen and (min-width: 768px){
  .content-wrapper{
    width: 492px;
  }

  .header{ 
    min-height: 700px;
  }

  .header-first-line{
    width: 660px;
    padding-top: 38px;    
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 140px;
  }


  .sign-in-container{
    margin-bottom: 0px;
  }

  .main-title {
    font-size: 52px;
    margin-bottom: 25px;
    letter-spacing: -0.04em;
  }

  .main-subtitle {
    font-size: 24px;
    margin-bottom: 30px;
  }

  .find-link{
    padding: 13px 26px;
  }

  .partners-title{
    margin-bottom: 34px;
  }

  .partners-list{
    justify-content: space-between;/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!1*/
    margin-bottom: 36px;
  }

    .partners-list-item{
      width: 236px;
      margin-bottom: 35px; /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
      /* margin: 0 10px 35px; */
    }

     /* .partners-list-item:nth-child(2n+1){
      margin-left: 0;
    }
    .partners-list-item:nth-child(2n+2){
      margin-right: 0;
    }  */

    .partners-other{

      padding: 12px 28px;

    }
    /*    .partners-list-item:nth-last-child(1){
      margin-bottom: 30px;
    }
    .partners-list-item:nth-last-child(2){
      margin-bottom: 30px;*/
    /*    .partners-list-item:nth-child(2){
      order: 2;
    }
    .partners-list-item:nth-child(3){
      order: 1;
    }
    .partners-list-item:nth-child(4){
      order: 3;*/
}


/*-----DESKTOP-----*/

@media screen  and (min-width: 940px){
  .content-wrapper{
    width: 940px;
  }

  .header-first-line{
    width: 940px;
    padding-top: 38px;
  }
  .partners-list{
    margin-bottom: 2px;
  }
    .partners-list-item{
      width: 220px;
    }

    /* .partners-list-item:nth-child(2n+1){
      margin-left: 10px;
    }
    .partners-list-item:nth-child(2n+2){
      margin-right: 10px;
    } 
    .partners-list-item:nth-child(4n+1){
      margin-left: 0;
    }
    .partners-list-item:nth-child(4n+4){
      margin-right: 0; 
    }*/
}








